:root {

	--am-block-max-width: 60rem;
	--am-block-margin-top: calc(1rem + 1em);
	--am-container-padding: 1.5rem;
	--am-flex-gap: 2rem;
	--am-flex-min-block-width: 18rem;

	--base-html-font-size: 80%; 
	--base-html-font-size-1600: 90%; 
	--base-html-font-size-1920: 100%;

	--container-width: 100%;
	--container-sm-max-width: 100%;
	--container-md-max-width: 100%;
	--container-lg-max-width: 100%;
	--container-xl-max-width: 112rem;

	--navbar-horizontal-padding: var(--am-container-padding);
	--navbar-content-horizontal-margin: var(--am-container-padding);

	--navbar-brand-font-size: 1.4rem;
	--navbar-brand-font-weight: 700;
	--sidebar-width: 24rem;

	--cards-margin: 1rem; 

}

am-stretched + am-stretched {
	margin-top: var(--am-block-margin-top);
}

.container {
	box-sizing: border-box;
	padding-left: var(--am-container-padding);
	padding-right: var(--am-container-padding);
}

#filters {
	padding-top: 0.5rem;
}

img {
	max-width: 100%;
}

.am-paragraph-large {
	font-size: 135%;
}

.cards {
	margin-top: var(--am-block-margin-top);
}

.cards .row {
	margin: calc(-1 * var(--cards-margin));
}

.cards .card,
.cards .alert {
	box-sizing: border-box;
	margin: var(--cards-margin);
	max-width: calc(100% - (2 * var(--cards-margin)));
}

.card-teaser {
	position: relative;
	height: 0;
	overflow: hidden;
	color: inherit !important;
	background-color: rgba(128,128,128,0.05);
}

.card-teaser img,
.card-teaser svg {
	position: absolute;
	top: 0;
	bottom: 0;
	min-width: 100%;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-teaser svg {
	color: inherit;
	padding: 0 40%;
	opacity: 0.1;
}

.am-inpage-edit-button {
	font-size: 12.6px !important;
	line-height: 26px !important;
	padding: 0 10px !important;
}

.am-inpage-menu-button {
	font-size: 18px;
	line-height: 43px;
	height: 45px;
	min-width: 47px;
}

.am-logo {
	width: 19px !important;
	height: 22px !important;
}

.am-inpage-menu-button[href^="/"] {
	color: #181818 !important;
}