
.hljs {
	display: block;
	font-size: 0.92em;
	overflow-x: auto;
	padding: 1.8rem 2rem !important;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: var(--base-border-radius);
	-moz-tab-size: 4;
	tab-size: 4;
}


/* Atom One Light */

.hljs {
	display: block;
	overflow-x: auto;
	padding: .5em;
	color: #383a42;
	background:#fafafa
}

.hljs-comment,
.hljs-quote {
	color: #a0a1a7;
	font-style:italic
}

.hljs-doctag,
.hljs-formula,
.hljs-keyword {
	color:#a626a4
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
	color:#e45649
}

.hljs-literal {
	color:#0184bb
}

.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
	color:#50a14f
}

.hljs-built_in,
.hljs-class .hljs-title {
	color:#c18401
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
	color:#986801
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
	color:#4078f2
}

.hljs-emphasis {
	font-style:italic
}

.hljs-strong {
	font-weight:700
}

.hljs-link {
	text-decoration: underline
}


/* Atom One Dark */

.dark-mode .hljs {
	color: #abb2bf;
	background:#191c20
}

.dark-mode .hljs-comment,
.dark-mode .hljs-quote {
	color: #5c6370;
	font-style:italic
}

.dark-mode .hljs-doctag,
.dark-mode .hljs-formula,
.dark-mode .hljs-keyword {
	color:#c678dd
}

.dark-mode .hljs-deletion,
.dark-mode .hljs-name,
.dark-mode .hljs-section,
.dark-mode .hljs-selector-tag,
.dark-mode .hljs-subst {
	color:#e06c75
}

.dark-mode .hljs-literal {
	color:#56b6c2
}

.dark-mode .hljs-addition,
.dark-mode .hljs-attribute,
.dark-mode .hljs-meta-string,
.dark-mode .hljs-regexp,
.dark-mode .hljs-string {
	color:#98c379
}

.dark-mode .hljs-built_in,
.dark-mode .hljs-class .hljs-title {
	color:#e6c07b
}

.dark-mode .hljs-attr,
.dark-mode .hljs-number,
.dark-mode .hljs-selector-attr,
.dark-mode .hljs-selector-class,
.dark-mode .hljs-selector-pseudo,
.dark-mode .hljs-template-variable,
.dark-mode .hljs-type,
.dark-mode .hljs-variable {
	color:#d19a66
}

.dark-mode .hljs-bullet,
.dark-mode .hljs-link,
.dark-mode .hljs-meta,
.dark-mode .hljs-selector-id,
.dark-mode .hljs-symbol,
.dark-mode .hljs-title {
	color:#61aeee
}

.dark-mode .hljs-emphasis {
	font-style:italic
}

.dark-mode .hljs-strong {
	font-weight:700
}

.dark-mode .hljs-link {
	text-decoration: underline
}